table {
    width: 100%;
    th {
        font-weight: bold;
        color: blue;
        text-align: center;
    }

    td {
        text-align: center;
    }
}

.toolbar-spacer {
    flex: 1 1 auto;
  }

mat-toolbar {
    button {
        border: 0;
    }
  }
.remain {
    color: red;
}