<mat-toolbar>
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <span>田一块考试日历</span>
  <span class="toolbar-spacer"></span>
  <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
</mat-toolbar>



<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="subscribed">
    <th mat-header-cell *matHeaderCellDef> 订阅 </th>
    <td mat-cell *matCellDef="let element"> <mat-slide-toggle [(ngModel)]="element.subscribed" (change)="toggle(element, $event)"></mat-slide-toggle></td>
  </ng-container>  
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> 考试名 </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> 时间 </th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>

  <ng-container matColumnDef="remain">
    <th mat-header-cell *matHeaderCellDef> 剩余天数</th>
    <td mat-cell *matCellDef="let element" class="remain"> {{element.remain}} 

      
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
</table>

