<mat-toolbar>
  <button mat-icon-button routerLink="/test">
    <mat-icon>arrow_back_ios</mat-icon>
  </button>
  <span>{{ name }}</span>
  <span class="toolbar-spacer"></span>
  <!-- <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button> -->
</mat-toolbar>

<!-- <app-yijian *ngIf="name=='一级建造师'"></app-yijian> -->

<mat-card *ngIf="name == '一级建造师'">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Small</mat-card-subtitle>
      <img
        mat-card-sm-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      />
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <img
    mat-card-sm-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
  />
  <img
  mat-card-sm-image
  src="https://material.angular.io/assets/img/examples/shiba2.jpg"
/>
  </mat-card-content>
</mat-card>
